<form action="/login" method="POST" id="form">
  <label for="idCard">ID Card</label><br>
  <input type="text" name="idCard" id="idCard" placeholder="Your Id Card">
  <br><br>

  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="your password">
  <br><br>

  <% if (typeof errorMessage !== "undefined") { %>
    <%= errorMessage %>
  <% } %>

  <button>Log in</button>
</form>