<div id="new-doctor" class="modal">
  <form action="/doctor/new" method="post">
    <div class="modal-content">
      <div class="row">
        <div class="col s4">
          <div class="input-field">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
          </div>
        </div>
        <div class="col s8">
          <div class="input-field">
            <label for="surname">Surname</label>
            <input type="text" name="surname" id="surname">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s3">
          <div class="input-field">
            <label for="idCard">Id Card</label>
            <input type="text" name="idCard" id="idCard">
          </div>
        </div>
        <div class="col s3">
          <div class="input-field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
          </div>
        </div>
        <div class="col s6">
          <div class="input-field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <div class="input-field">
            <label for="collegiate">Collegiate Number</label>
            <input type="text" name="collegiate" id="collegiate">
          </div>
        </div>
        <div class="col s6">
          <div class="input-field">
            <label class="active" for="speciality">Speciality</label>
            <select name="speciality">
              <option value="Cardiology">Cardiology</option>
              <option value="Geriatric">Geriatric</option>
              <option value="Neurology">Neurology</option>
              <option value="Pediatric">Pediatric</option>
              <option value="Physical Medicine">Physical Medicine</option>
              <option value="Psychiatry">Psychiatry</option>
              <option value="Dentist">Dentist</option>
              <option value="General Practice" selected>General Practice</option>
            </select>
          </div>
        </div>
      </div>

      <% if(typeof errorMessage !== 'undefined') {%>
          <%= errorMessage %>
      <% } %>

      <div class="modal-footer">
        <button type="submit" class="btn waves-effect waves-light" name="action">SUBMIT</button>
      </div>
    </div>
    </form>
</div>
