<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <%- include("./nav") %>
    <%- body %>

    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    <script src="/javascripts/main.js" charset="utf-8"></script>
    <script src="/javascripts/history.js"></script>
  </body>
</html>
