<nav class="col l12">
  <div class="navbar-fixed ">
   <nav>
     <div class="nav-wrapper">
       <a href="#" class="brand-logo space-left">Patients Everywhere</a>
       <ul class="right hide-on-med-and-down">
           
       <% if(isLoggedIn) { %>
         <li>
           <form action="/logout" method="get">
             <button class="waves-effect waves-light red btn space-right">Log out</button>
           </form>
         </li>
       <% } %>
       </ul>
     </div>
   </nav>
 </div>
</nav>
