<nav class="col l12">
  <div class="navbar-fixed">
   <nav>
     <div class="nav-wrapper teal lighten-2">
       <span class="brand-logo space-left">Patients Everywhere</span>
       <ul class="right hide-on-med-and-down">
        <% if(isLoggedIn) { %>
          <% if(userLogged.role == 'Doctor') { %>
            <li class="active"><a href="/patients">PATIENTS</a></li>
          <% } else { %>
            <li class="active"><a href="/doctors">DOCTORS</a></li>
          <% } %>
          <li>
            <form action="/logout" method="post">
              <button class="waves-effect waves-light red btn space-right teal lighten-3">Log out</button>
            </form>
          </li>
        <% } %>
       </ul>
     </div>
   </nav>
 </div>
</nav>
