<nav class="col l12">
  <div class="navbar-fixed">
   <nav>
     <div class="nav-wrapper teal lighten-2">
       <a href="#" class="brand-logo space-left">Patients Everywhere</a>
       <ul class="right hide-on-med-and-down">
         <p><%= user %></p>
         <% if(user) { %>
           <form action="/logout" method="post">
           <button class="waves-effect waves-light red btn space-right teal lighten-3">Log out</button>
           </form>
           <% } else { %>
             <a href="/login">Log in</a>
             <% } %>

       </ul>
     </div>
   </nav>
 </div>
</nav>
