body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 10 auto;
}

h2 {
  display: inline-block;
}

.space-left {
  margin-left: 40px;
}

.space-right {
  margin-right: 40px;
}

a {
  color: #00B7FF;
}

.header {
  cursor: pointer;
}

.tabs .tab a {
  color: #4db6ac;
}

nav ul.right a:active {
  text-decoration: underline;
  color: red;

}

.width-fix {
  width: 20px;
}
