body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 10 auto;
}

h2 {
  display: inline-block;
}

.space-left {
  margin-left: 40px;
}

.space-right {
  margin-right: 40px;
}

a {
  color: #00B7FF;
}

.header {
  cursor: pointer;
}

.tabs .tab a {
  color: #4db6ac;
}

.width-fix {
  width: 20px;
}

.icon-color-red {
  color: #f44336;
}

.icon-color {
  color: #4db6ac;
}

.icon-table {
  padding-left: 16px;
}

.not-show {
  display: none;
}

.login {
  padding: 30px;
  margin: 200px;
  border: 1px solid;
  border-radius: 4px;
}

.login form {
  margin: 30px;
}