<form action="/report/new" method="post">
  <label for="consultation">Consultation</label>
  <input type="text" name="consultation">

  <label for="treatment">Treatment</label>
  <textarea name="treatment" id="treatment" cols="30" rows="10">
  </textarea>

  <button>New Report</button>
</form>