<div class="modal-content">
  <form action="/<%= patient._id %>/report/new" method="post" enctype="multipart/form-data">

    <div class="modal-content row">
      <div class="input-field col s7">
        <% if(patho == undefined) { %>
          <input type="text" name="pathology" id="pathology" class="validate">
          <label for="pathology">Pathology</label>
        <% } else { %>
          <input type="text" name="pathology" value="<%= patho %>" hidden>
        <% } %>
      </div>
      <div class="input-field col s12">
        <textarea name="symptoms" id="symptoms" cols="30" rows="10" class="materialize-textarea"></textarea>
        <label for="symptoms">Symptoms</label>
      </div>

      <div class="input-field col s12">
        <textarea name="consulty" id="consulty" cols="30" rows="10" class="materialize-textarea"></textarea>
        <label for="consulty">Consultaty Work</label>
      </div>
      <div class="input-field col s12">
        <textarea name="treatment" id="treatment" cols="30" rows="10" class="materialize-textarea"></textarea>
        <label for="treatment">Treatment</label>
      </div>
      <div class="file-field col s12">
        <div class="btn">
          <span>File</span>
          <input type="file" name="file" multiple>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload from one to three files">
        </div>

        <% if(typeof errorMessage !== 'undefined') {%>
            <%= errorMessage %>
        <% } %>
      </div>
    </div>
    <div class="modal-footer col s12">
      <button class="btn waves-effect waves-light grey">CANCEL</button>
      <button class="btn waves-effect waves-light" type="submit" name="action">SUBMIT</button>
    </div>
  </form>
</div>
