<div class="container">
  <div class="row">
    <div class="section">
      <div class="col s8">
        <h4><%= patient.name %> <%=patient.surname %></h4>
      </div>
      <div class="col s4">
        <br>
        <a href="#modal1" class="waves-effect waves-light btn modal-trigger">New Report & Pathology</a>
        <div id="modal1" class="modal">
          <%- include('../report/new-report', { patho:undefined, patient }) %>
        </div>
      </div>
    </div>
  </div>
  <%- include('./personal-data', { patient, age, pathos }) %>
</div>